/* Centering */
.center{
    text-align: center;
    background-color: rgb(34, 35, 37);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.button {
    transition-duration: 0.4s;
    padding: 1%;
    border-radius:7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
    border: unset;
}